@media only screen and (max-width: 768px) {
	html {
		font-family: 'Montserrat', cursive;
	}
	
	.cta {
		font-size: 1.5rem;
	}

	h1.section-title, #services .section-title {
		font-size: 3rem;
	}

	/* Home section */

	#home h1 {
		font-size: 3.4rem;
	}
	#home h2 {
		font-size: 2.4rem;
	}
	#home .cta {
		padding: 10px 20px;
		font-size: 2rem;
	}

	/* End Home section */

	/* Services section */

	#services .service-item {
		text-align: center;
		flex-basis: 45%;
		align-items: center;
		margin: 2.5%;
	}
	/* Form Section */
	.my-form {
  		width: 80%;
	}
	/* End Form Section */
}

	/* End Services section */

@media only screen and (max-width: 500px) {
	/* Header Section and Footer Section */
	.brand h1 {
		font-size: 2rem;
	}

	/* End Header Section and Footer Section */

	/* Service Section */
	.service-top p {
		width: 35rem;
	}
	/* End Service Section */

	/* Certificate Section */
	.certificates table {
		display: none;
	}
	.certificate-header p {
		display: initial;
		color: #fff;
	}
	/* End Certificate Section */
}

@media only screen and (max-width: 386px) {
	/* Header Section and Footer Section */
	.brand h1 {
		font-size: 1.6rem;
	}
}

