/* Service Section */
#services {
    background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);background-image: linear-gradient(to bottom, #30cfd0 0%, #330867 100%);
}
#services .services {
	flex-direction: column;
	text-align: center;
	max-width: 1500px;
	margin: 0 auto;
	padding: 100px 0;
}

#services .section-title {
	font-size: 4rem;
	font-weight: 300;
	color: #000;
	margin-bottom: 10px;
	text-transform: uppercase;
	letter-spacing: .2rem;
	text-align: center;
}

#services .section-title span {
	color: var(--color-profession);
}

#services .service-item p {
	color: #FFF;
	text-align: left;
}

#services .service-bottom {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	margin-top: 50px;
}

#services .service-item {
	position: relative;
	flex-basis: 80%;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
	padding: 30px;
	border-radius: 10px;
	background-image: url(../img/bg-service.jpg);
	background-size: cover;
	margin: 10px 5%;
	z-index: 1;
	overflow: hidden;
}

#services .service-item::after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);	
	opacity: .8;
    z-index: -1;
}

#services .service-bottom .icon {
	height: 50px;
	width: 50px;
	margin-bottom: 20px;
}

#services .service-bottom .icon img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}

#services .service-item h2 {
	font-size: 2rem;
	color: #FFF;
	margin-bottom: 10px;
	text-transform: uppercase;
}

#services .service-item p {
	text-align: center;
	font-size: 1.4rem;
	line-height: 1.9rem;
	color: #FFF;
}

/* End Service Section */