@import url('https://fonts.googleapis.com/css?family=Montserrat:300, 400, 700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:wght@100&display=swap');
@import url('https://unpkg.com/aos@3.0.0-beta.6/dist/aos.css');

:root {
	--color-background: #DC143C;
	--portfolio-hover: rgba(220, 20, 60, 0.5);
	--color-profession: #C01D46;
	--scrollbar: #FF0009;
}

::-webkit-scrollbar {
    width: 12px;
    height: 10px;
}

::-webkit-scrollbar-thumb {
    background: -webkit-gradient(linear,left top,left bottom,from(var(--scrollbar)),to(#000));
    background: -moz-gradient(linear,left top,left bottom,from(var(--scrollbar)),to(#000));
    background: linear-gradient(360deg,var(--scrollbar),#000);
    border-radius: 10px;
    box-shadow: inset 2px 2px 2px hsla(0,0%,100%,.25), inset -2px -2px 2px rgba(0,0,0,.25);
}

::-webkit-scrollbar-thumb:hover {
    background: -webkit-gradient(linear,left top,left bottom,from(#000),to(var(--scrollbar)));
    background: -moz-gradient(linear,left top,left bottom,from(#000),to(var(--scrollbar)));
    background: linear-gradient(360deg,#000,var(--scrollbar));
}

::-webkit-scrollbar-track {
   background: linear-gradient(90deg,#201c29,#201c29 1px,#100e17 0,#100e17);
}


::selection {
    background: #605080;
    color: #FFF;
}

html {
	font-size: 10px;
	font-family: Bradley Hand, cursive;
	overflow-x: hidden;
}

p {
	color: #000;
	font-size: 1.4rem;
	margin-top: 5px;
	line-height: 2.5rem;
	font-weight: 300;
	letter-spacing: .05rem;
}

/*------------------------------------ Classes -----------------------------------------------*/

.logo {
	position: absolute;
	top: 5px;
}
.logo a img{
	width: 45px;
	height: 45px;
	border-radius: 50%;
}

.container {
	min-height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.section-title {
	font-size: 4rem;
	font-weight: 300;
	color: #000;
	margin-bottom: 10px;
	text-transform: uppercase;
	letter-spacing: .2rem;
	text-align: center;
}

.section-title span {
	color: var(--color-profession);
}

.info {
	user-select: none;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.typed-text {
	font-weight: normal;
	color: var(--color-profession);
}

.cursor {
	display: inline-block;
	width: 2px;
	background-color: var(--color-profession);
	margin-left: 0.1rem;
	animation: blink 1s infinite;
}

.cursor.typing {
	animation: none;
}

.tooltip-inner {
    max-width: 400px;
   	font-size: 18px;

}
/*----------------------------------End Classes -----------------------------------------------*/


/*------------------------------------ IDs -----------------------------------------------*/
/*----------------------------------End IDs -----------------------------------------------*/


/* Key Frames */

@keyframes blink {
	0% {
		background-color: #ccc;
	}
	50% {
		background-color: transparent;
	}
	100% {
		background-color: #ccc;
	}
}

@keyframes text_reveal_box {
	50% {
		width: 100%;
		left: 0;
	}
	100% {
		width: 0%;
		left: 100%;
	}
}

@keyframes text_reveal {
	100% {
		color: #FFF;
	}
}

@keyframes text_reveal_name {
	100% {
		color: var(--color-profession);
		font-weight: 500;
	}
}
@keyframes zoom {
  0% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes menu_puls {
	0% {
	opacity: 1;
    transform: scale(1);
  }
  100% {
  	opacity: 0;
    transform: scale(1.6);
  }
}

/* End Key Frames */

