.carousel-caption {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 355px;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #000;
  text-align: center;
  animation: fadeInLeft;
  animation-duration: 4s;
}

.carousel-caption h2 {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	background-color: rgba(255, 255, 255, 0.7);
	color: #000;
	width: 100rem;
	border-radius: 10px;
	user-select: none;
	margin-bottom: 4px;
	font-size: 20px;
	opacity: 1;
}

.carousel-indicators li {
  margin: 20px 5px;
  width: 60px !important;
  height: 8px !important;
  border-radius: 5px;
  background-color: rgba(0,0,0,.6) !important;
}

.carousel-indicators .active {
  background-color: #000 !important;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
    filter: invert(1);
    width: 40px;
    height: 40px;
}

#jobsCarousel {
  font-family: Bradley Hand, cursive, 'Open Sans', sans-serif;
	user-select: none;
}


/* Lightbox rewrite */
.lb-details {
  font-family: Bradley Hand, cursive, 'Open Sans', sans-serif;
}

.lb-number {
  margin-top: 5px;
}
