.carousel-indicators li {
    margin: 20px 10px;
    width: 60px;
    height: 10px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, .6);
}

.carousel-indicators .active {
    background-color: #000;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
    filter: invert(1);
    width: 40px;
    height: 40px;
}

#jobsCarousel {
    font-family: 'Kodchasan', sans-serif, 'Open Sans', sans-serif;
    user-select: none;
}


/* Lightbox rewrite */
.lb-details {
    font-family: 'Kodchasan', sans-serif, 'Open Sans', sans-serif;
}

.lb-number {
    margin-top: 5px;
}


.carousel-image {
  position: relative;
  overflow: hidden;
  width: 85vw;
  margin: 10px;
  text-align: center;
}


.carousel-image i {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  color: rgba(255, 255, 255, .6);
  width: 50px;
  height: 50px;
  line-height: 50px;
  background: rgba(0, 0, 0, .6);
  -webkit-transform: translate(-50%, -50%) scale(0);
  transform: translate(-50%, -50%) scale(0);
  transition: all 300ms 0ms cubic-bezier(0.6, -0.28, 0.735, 0.045);
}


.carousel-image:hover img {
  opacity: 0.3;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.carousel-image:hover i {
  -webkit-transform: translate(-50%, -50%) scale(1);
  transform: translate(-50%, -50%) scale(1);
  transition: all 300ms 100ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.carousel-info {
    position: absolute;
    top: 75px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fadeInLeft 2s;
  }

.carousel-info h2 {
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    width: 60rem;
    border-radius: 25px;
    padding: 10px 0;
    font-size: 20px;
}
































