.carousel-caption {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 355px;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #000;
  text-align: center;
  animation: fadeInLeft;
  animation-duration: 4s;
}

.carousel-caption h3 {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	background-color: rgba(255, 255, 255, 0.7);
	color: #000;
	width: 100rem;
	border-radius: 10px;
	user-select: none;
	margin-bottom: 4px;
	font-size: 20px;
	opacity: 1;
}

.carousel-indicators li {
  margin: 20px 5px;
  width: 60px !important;
  height: 8px !important;
  border-radius: 5px;
  background-color: rgba(0,0,0,.6) !important;
}

.carousel-indicators .active {
  background-color: #000 !important;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
    filter: invert(1);
    width: 40px;
    height: 40px;
}

#jobsCarousel {
  font-family: Bradley Hand, cursive;
	user-select: none;
}

.carousel-fade .carousel-item {
  opacity: 0;
  transition-duration: .6s;
  transition-property: opacity;
}

.carousel-fade .carousel-item.active,
.carousel-fade .carousel-item-next.carousel-item-left,
.carousel-fade .carousel-item-prev.carousel-item-right {
  opacity: 1;
}

.carousel-fade .active.carousel-item-left,
.carousel-fade .active.carousel-item-right {
  opacity: 0;
}

.carousel-fade .carousel-item-next,
.carousel-fade .carousel-item-prev,
.carousel-fade .carousel-item.active,
.carousel-fade .active.carousel-item-left,
.carousel-fade .active.carousel-item-prev {
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

@supports ((-webkit-transform-style: preserve-3d) or (transform-style: preserve-3d)) {
  .carousel-fade .carousel-item-next,
  .carousel-fade .carousel-item-prev,
  .carousel-fade .carousel-item.active,
  .carousel-fade .active.carousel-item-left,
  .carousel-fade .active.carousel-item-prev {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

/* Lightbox rewrite */

.lb-number {
  margin-top: 5px;
}
