#certificates {
	background-image: linear-gradient(to right, #434343 0%, black 100%);
}

.certificate-header h1 {
	color: #fff;
}

.certificate-header .section-title {
	padding-bottom: 20px;
}

.certificate-header .section-title, .section-title p {
	color: #fff;
	margin-top: 10px;
}

#certificates .certificates {
	flex-direction: column;
	text-align: center;
	max-width: 1300px;
	margin: 0 auto;
	padding: 100px 0;
}

.certificate {
	width: 100%;
	box-shadow: 1px 1px 15px rgba(255, 255, 255, .5);
	border-radius: 8px;
  max-width: 75vw;
  display: flex;
  align-items: center;
  overflow-x: auto;
}

.certificate img {
	filter: none;
	border-radius: 10px;
  margin: 15px;
  max-height: 100%;
  height: 150px;
}

.certificate img:hover {
	filter: grayscale(1);
	transform: scale(1.1) !important;
}
