/* Footer */

footer {
	font-family: Bradley Hand, cursive, 'Open Sans', sans-serif;
	user-select: none;
  	background-color: #111;
}

footer .footer {
	min-height: 200px;
	flex-direction: column;
	padding-top: 50px;
	padding-bottom: 10px;
}

#footer h2 {
	color: #cacaca;
	font-weight: 500;
	font-size: 1.8rem;
	letter-spacing: .7rem;
	margin-top: 10px;
	margin-bottom: 10px;
}

#footer .contact-icon {
	overflow: hidden;
	display: flex;
	margin: 20px 0px 20px 20px;
}

.contact-icon #smoothScroll {
	position: fixed;
	background-color: transparent;
	border: solid 1px;
	border-color: #470ba9;
	padding: 15px;
	border-radius: 10px;
	bottom: 50px;
	right: 25px;
	font-size: 3rem;
	text-align: center;
	line-height: 10px;
}

.contact-icon #smoothScroll:hover {
	background-color: var(--portfolio-hover);
}

#footer .contact-item {
	height: 50px;
	overflow: hidden;
	width: 75px;
	margin: 0 10px;
}

#footer p {
	color: #cacaca;
	font-size: 1.3rem;
}

.brand h1 {
	font-size: 3rem;
	text-transform: uppercase;
	color: #cacaca;
}

.brand h1 span {
	color: var(--primary-color);
}

/* End Footer */
