::placeholder {
    letter-spacing: 1.5px;
}

#form {
	background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.error {
    margin-top: 3px;
    color: rgba(255, 0, 0, .5);
    animation: bounce;
    animation-duration: 1s;

}

#form .form {
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 0;
}

.my-form {
    font-family: Bradley Hand, cursive, 'Open Sans', sans-serif;
    user-select: none;
    width: 100%;
}

.my-form h1 {
    font-family: 'Salvation Typeface Font', 'Open Sans', sans-serif;
}

.form-control {
    font-size: 1.5rem;
    height: calc(2.5em + .75rem + 2px);
}

label {
    margin-bottom: .5rem;
}

.btn-secondary, label {
    font-size: 15.5px;
}

.form-control, .form-control:active {
    background-color: transparent;
    border: 1px solid #000;
}

.form-control:focus {
    background-color: transparent;
    color: #000;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.7);
}

.form-control.error, .form-control.error:focus, .form-control.error:active, textarea.error,
textarea.error:focus,
textarea.error:active {
    color: #000;
    background-color: rgba(255, 0, 0, .1);
}

textarea {
    min-height: 15em;
    resize: none;
}

textarea[name='mensagem']::-webkit-scrollbar {
    width: 0;
}

/* Remove default bg from browser */
input:-webkit-autofill {
    -webkit-background-clip: text;
    -webkit-text-fill-color: #545b62;
}

.btn-secondary {
    color: #000;
    letter-spacing: 5px;
    text-transform: uppercase;
    transition:letter-spacing .5s;
    background-color: transparent;
    border-color: #000
}

.btn-secondary:hover {
    background-color: rgba(90, 98, 104, 0.1);
    border-color: #545b62;
    color: #000;
    letter-spacing: 15px;
    transition:letter-spacing .5s;
}

.btn-secondary:focus {
    color: #000 !important;
    background-color: transparent !important;
}
