/* Header section */
#header {
	position: fixed;
	font-family: 'Kodchasan', sans-serif, 'Open Sans', sans-serif;
	user-select: none;
	z-index: 10;
	left: 0;
	top: 0;
	width: 100vw;
	height: auto;
}

.header {
	min-height: 8vh;
	background-color: rgba(31, 30, 30, 0.24);
	transition: .5s ease background-color;
}

.nav-bar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 100%;
	max-width: 1300px;
	padding: 0 10px;
}

.nav-list ul {
	list-style: none;
	position: absolute;
	background-color: rgba(0, 0, 0, .75);
	width: 100vw;
	height: 100vh;
	left: 100%;
	top: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 1;
	overflow-x: hidden;
	transition: .5s ease left;
}

.nav-list ul.active {
	left: 0%;
}

.nav-list ul a {
	font-size: 2.5rem;
	font-weight: 500;
	letter-spacing: .2rem;
	text-decoration: none;
	color: #cacaca;
	text-transform: uppercase;
	padding: 20px;
	display: block;
}

.nav-list ul a::after {
	content: attr(data-after);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0);
	color: var(--portfolio-hover);
	font-size: 5rem;
	letter-spacing: 50px;
	z-index: -1;
	transition: .3s ease letter-spacing;
}

.nav-list ul li:hover a::after {
	transform: translate(-50%, -50%) scale(1);
	letter-spacing: 10px;
	transition: 1s ease letter-spacing;
}

.nav-list ul li:hover a {
	color: var(--primary-color);
	transform: scale(.9);
	transition: ease .4s;
}

.menu {
	height: 60px;
	width: 60px;
	display: inline-block;
	border: 3px solid #cacaca;
	border-radius: 50%;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 10;
	cursor: pointer;
	transform: scale(.8);
	margin-right: 20px;
}

.menu:after {
	position: absolute;
	content: '';
	height: 100%;
	width: 100%;
	border-radius: 50%;
	border: 3px solid #cacaca;
	animation: 1s ease infinite;
}

.menu:hover:after {
	animation: none;
}

.menu .bar {
	height: 3.5px;
	width: 30px;
	position: relative;
	background-color: transparent;
	z-index: -1;
}

.menu .bar::after {
	content: '';
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0;
	background-color: #cacaca;
	transition: 1s ease;
}

.menu .bar::before {
	top: -8px;
	left: 5px;
	content: '';
	border-radius: 20px;
	background-color: #cacaca;
	transition: 1s ease;
	position: absolute;
	height: 100%;
	width: 85%;
}

#hamburger {
	display: none;
}

#hamburger:checked ~ label .menu .bar:after {
	transform: rotate(225deg);
	top: 0;
	left: 0;
}

#hamburger:checked ~ label .menu .bar:before {
	transform: rotate(-405deg);
	top: 0;
	left: 0;
	width: 100%;
}


.menu .bar::after {
	border-radius: 20px;
	top: 8px;
}

.menu .bar::before {
	bottom: 8px;
}

.menu.active .bar::before {
	bottom: 0;
}

.menu.active .bar::after {
	top: 8px;
}

/* End Header section */


/* Media Query For Desktop */
@media only screen and (min-width: 1200px) {
	/* header */
	.menu {
		display: none;
	}

	.nav-list ul {
		position: initial;
		display: block;
		height: auto;
		width: fit-content;
		background-color: transparent;
	}

	.nav-list ul li {
		display: inline-block;
	}

	.nav-list ul li a {
		font-size: 1.8rem;
	}

	.nav-list ul a:after {
		display: none;
	}
}
	/* End header */
