/* Header section */
#header {
	position: fixed;
	font-family: Bradley Hand, cursive;
	user-select: none;
	z-index: 1000;
	left: 0;
	top: 0;
	width: 100vw;
	height: auto;
}

#header .header {
	min-height: 8vh;
	background-color: rgba(31, 30, 30, 0.24);
	transition: .5s ease background-color;
}

#header .nav-bar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 100%;
	max-width: 1300px;
	padding: 0 10px;
}

#header .nav-list ul {
	list-style: none;
	position: absolute;
	background-color: rgb(31, 30, 30);
	width: 100vw;
	height: 100vh;
	left: 100%;
	top: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 1;
	overflow-x: hidden;
	transition: .5s ease left;
}

#header .nav-list ul.active {
	left: 0%;
}

#header .nav-list ul a {
	font-size: 2.5rem;
	font-weight: 500;
	letter-spacing: .2rem;
	text-decoration: none;
	color: #cacaca;
	text-transform: uppercase;
	padding: 20px;
	display: block;
}

#header .nav-list ul a::after {
	content: attr(data-after);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0);
	color: rgba(220, 20, 60, 0.2222);
	font-size: 5rem;
	letter-spacing: 50px;
	z-index: -1;
	transition: .3s ease letter-spacing;
}

#header .nav-list ul li:hover a::after {
	transform: translate(-50%, -50%) scale(1);
	letter-spacing: 20px;
	transition: 2s ease letter-spacing;
}

#header .nav-list ul li:hover a {
	color: var(--primary-color);
	transform: scale(.9);
	transition: ease-in-out .2s;
}

#header .menu {
	height: 60px;
	width: 60px;
	display: inline-block;
	border: 3px solid #cacaca;
	border-radius: 50%;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 100;
	cursor: pointer;
	transform: scale(.8);
	margin-right: 20px;
}

#header .menu:after {
	position: absolute;
	content: '';
	height: 100%;
	width: 100%;
	border-radius: 50%;
	border: 3px solid #cacaca;
	animation: 1s ease infinite;
}

#header .menu:hover:after {
	animation: none;
}

#header .menu .bar {
	height: 2px;
	width: 30px;
	position: relative;
	background-color: #cacaca;
	z-index: -1;
}

#header .menu .bar::after,
#header .menu .bar::before {
	content: '';
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0;
	background-color: #cacaca;
	transition: .3s ease;
	transition-property: top, bottom;
}

#header .menu .bar::after {
	top: 8px;
}

#header .menu .bar::before {
	bottom: 8px;
}

#header .menu.active .bar::before {
	bottom: 0;
}

#header .menu.active .bar::after {
	top: 0;
}

/* End Header section */


/* Media Query For Desktop */
@media only screen and (min-width: 1200px) {
	/* header */
	#header .menu {
		display: none;
	}

	#header .nav-list ul {
		position: initial;
		display: block;
		height: auto;
		width: fit-content;
		background-color: transparent;
	}

	#header .nav-list ul li {
		display: inline-block;
	}

	#header .nav-list ul li a {
		font-size: 1.8rem;
	}

	#header .nav-list ul a:after {
		display: none;
	}
}
	/* End header */
