/* Home Section */
#home {
	background-image: url(../img/code.jpg);
	background-size: cover;
	background-position: top center;
	position: relative;
	z-index: 1;
}

#home::after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-image: linear-gradient(to right, #434343 0%, black 100%);
	opacity: .7;
	z-index: -1;
}

#home .home {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 50px;
	justify-content: flex-start;
}

#home h1 {
	display: block;
	width: fit-content;
	font-size: 5rem;
	position: relative;
	color: transparent;
	animation: text_reveal .5s ease forwards;
	animation-delay: 1s;
}

#home h1:nth-child(1) {
	animation-delay: 1s;
}

#home h1:nth-child(2) {
	animation-delay: 2s;
}

#home h1:nth-child(3) {
	animation: text_reveal_name .5s ease forwards;
	animation-delay: 3s;
}

#home h1 span {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 0;
	background-color: var(--color-background);
	animation: text_reveal_box 1s ease;
	animation-delay: .5s;
}

#home h1:nth-child(1) span {
	animation-delay: .5s;
}

#home h1:nth-child(2) span {
	animation-delay: 1.5s;
}

#home h1:nth-child(3) span {
	animation-delay: 2.5s;
}
#home h2 {
	margin-top: 5px;
	font-size: 4rem;
	font-weight: bold;
	letter-spacing: 0.2rem;
	animation: text_reveal .5s ease forwards;
	animation-delay: 1.5s;
}

#home .cta {
	position: relative;
	overflow: hidden;
	display: inline-block;
	padding: 15px 35px;
	color: #FFF;
	background-color: transparent;
	border: 2px solid var(--color-background);
	font-size: 3rem;
	text-transform: uppercase;
	letter-spacing: .2rem;
	margin-top: 30px;
	transition: 1s ease;
	transition-property: background-color, color;
}

#home .cta:hover {
	animation: tada .8s;
	color: #FFF;
	box-shadow: 1px 1px 25px 10px var(--portfolio-hover);
	background-color: var(--color-background);
	transition: 2s;
}

.cta:before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    120deg,
    transparent,
    var(--portfolio-hover),
    transparent
  );
  transition: all 999ms;
}

.cta:hover:before {
  left: 100%;
}
/* End Home Section */

/*------------------------------------ Classes -----------------------------------------------*/

.margin h1 {
	margin-left: 65px;
}

/*------------------------------------ End Classes -------------------------------------------*/
