/* Home Section */

#home {
	font-family: Bradley Hand, cursive, 'Open Sans', sans-serif;
	background-image: url(../img/code.webp);
	background-size: cover;
	background-position: top center;
	position: relative;
	z-index: 1;
	animation: bgAnimation 40s linear infinite alternate;
}

#home::after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-image: linear-gradient(to right, #151515 0%, #000 100%);
	opacity: .7;
	z-index: -1;
}

#home .home {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 50px;
	justify-content: flex-start;
}

#home h1 {
	display: block;
	width: fit-content;
	font-size: 5rem;
	position: relative;
  	text-shadow: 6px 3px 0 rgba(0, 0, 0, .2);
}

.infoAnimation {
	animation: moveInfo 3s cubic-bezier(0.175, 0.885, 0.32, 1);
	color: #cacaca;
}

#home h1:nth-child(3) {
	color: var(--primary-color);
}

#home h2 {
	margin-top: 5px;
	font-size: 4rem;
	font-weight: bold;
	letter-spacing: 0.2rem;
}

#home .cta {
	position: relative;
	overflow: hidden;
	display: inline-block;
	padding: 15px 35px;
	text-transform: uppercase;
	color: #cacaca;
	background-color: transparent;
	border: 2px solid;
	border-color: var(--primary-color);;
	border-radius: 15px;
	font-size: 2rem;
  	font-weight: 500;
	letter-spacing: .2rem;
	margin-top: 30px;
	transition: 1s ease;
	transition-property: background-color, color;

}

#home .cta:hover {
	box-shadow: 1px 1px 25px 10px var(--portfolio-hover);
	background-color: var(--primary-color);
}

.cta:before {
	content: "";
	position: absolute;
	top: 0;
	left: -100%;
	width: 100%;
	height: 100%;
	background: linear-gradient(
		120deg,
		transparent,
		var(--portfolio-hover),
		transparent
	);
	transition: all 999ms;
}

.cta:hover:before {
  	left: 100%;
}

.portfolioIcon {
	font-size: 25px;
	color: #fff;
	margin: 0 10px -2px 0;
}
/* End Home Section */

/*------------------------------------ Classes -----------------------------------------------*/

.margin h1 {
	margin-left: 10px;
}

/*------------------------------------ End Classes -------------------------------------------*/


/* Keyframes */

@keyframes bgAnimation {
  50% {
  	background-position: center;
  }
  75% {
  	background-position: bottom center;
  }
}

@keyframes moveInfo {
  0% {
    transform: translateY(10rem) rotateY(-30deg);
  }

  100% {
    transform: translateY(0) rotateY(0);
    opacity: 1;
  }
}
