@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

@media only screen and (max-width: 768px) {
	html {
		font-family: 'Montserrat', cursive;
	}

	.cta {
		font-size: 1.5rem;
	}

	h1.section-title, #services .section-title {
		font-size: 3rem;
	}

	/* Home section */

	#home h1 {
		font-size: 3.4rem;
	}

	#home h2 {
		font-size: 2.4rem;
	}

	#home .cta {
		padding: 10px 20px;
		font-size: 2rem;
	}

	#services .service-bottom {
		display: initial;
	}

	#services .service-item {
		width: 405px;
		padding: 25px;
		margin: 2.5% 0 10% 0;
	}

	/* End Home section */

	/* Services section */

	#services .service-item {
		text-align: center;
		flex-basis: 45%;
		align-items: center;
		margin: 2.5%;
	}

	.serviceSvg {
		display: none;
	}

	/* End Services section */


	/* Form Section */

	.my-form {
  		width: 80%;
	}

	/* End Form Section */


	/* Icons */

	.social {
		left: 10px;
	}

	/* End Icons */
}


@media only screen and (max-width: 500px) {
	/* Header Section and Footer Section */

	.brand h1 {
		font-size: 2rem;
	}

	#header .nav-list ul a::before {
		position: absolute;
    color: gray;
    left: 69px;
    font-family: "Material Icons";
    font-size: 25px;
	}

	#header .nav-list ul a:hover::before {
		content: '' !important;
	}

	#header .nav-list ul li:nth-child(1) a::before {
		content: '\ef54';
	}

	#header .nav-list ul li:nth-child(2) a::before {
		content: '\e86f';
	}

	#header .nav-list ul li:nth-child(3) a::before {
		content: '\ea3f';
	}

	#header .nav-list ul li:nth-child(4) a::before {
		content: '\e0d0';
	}

	#header .nav-list ul a {
		animation: none !important;
	}

	#home h1 {
    	font-size: 2.4rem;
	}

	#home h2 {
	    font-size: 1.4rem;
	    margin-top: 12px;
	}

	#services .service-bottom {
		display: initial;
	}

	#services .service-item {
		width: 245px;
		padding: 25px;
		margin: 2.5% 0 10% 0;
	}

	/* End Header Section and Footer Section */


	/* Service Section */

	.service-top p {
		width: 35rem;
	}

	/* End Service Section */


	/* Certificate Section */

	.certificate {
		height: 200px;
	}

	/* End Certificate Section */

	/* Home and Footer*/
	/*#footer h2, #footer p, .brand h1, #home h1, #home h2, #home .cta, #form*/
	body {
		font-family: 'Montserrat', cursive !important;
	}
}

@media only screen and (max-width: 386px) {

	/* Header Section and Footer Section */
	.brand h1, #footer h2 {
		font-size: 1.6rem;
		text-align: center;
	}

	/* End Header Section and Footer Section */

	/* Icons */

	.fa-paint-brush, .fa-code, .fa-laptop-house, .fa-envelope, .fa-phone, .fa-file-pdf, .fa-globe-americas, .fa-file-word, .fa-arrow-up {
		font-size: 30px;
	}

	/* End Icons */
}
