@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

@media only screen and (max-width: 768px) {
	html {
		font-family: 'Open Sans', sans-serif;
	}

	.cta {
		font-size: 1.5rem;
	}

	h1.section-title, #services .section-title {
		font-size: 3rem;
	}

	/* Home section */

	#home h1 {
		font-size: 3.4rem;
	}

	#home h2 {
		font-size: 2.4rem;
	}

	#home .cta {
		padding: 10px 20px;
		font-size: 2rem;
	}

	.knowledges {
		font-family: 'Open Sans', sans-serif;
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-direction: column;
	}

	.knowledge-header img {
		transform: scale(.7) !important;
    margin: 0 35px 0 55px !important;
	}

	/* End Home section */

	/* Services section */

	#services .service-item {
		text-align: center;
		flex-basis: 45%;
		align-items: center;
		margin: 2.5%;
	}

	.serviceSvg {
		display: none;
	}

	/* End Services section */


	/* Form Section */

	.my-form {
  		width: 80%;
	}

	/* End Form Section */


	/* Icons */

	.social {
		left: 10px;
	}

	/* End Icons */
}


@media only screen and (max-width: 500px) {
	/* Header Section, Icons and Footer Section */
	.brand h1 {
		font-size: 2rem;
	}

	#header .nav-list ul {
		clip-path: ellipse(365px 370px at right);
	}

	#header .nav-list ul a > #hamburger ~ label .menu .bar:before {
		transform: rotate(0) !important;
		top: 0;
		left: 0;
		width: 100%;
}

	#header .nav-list ul a::before {
		position: absolute;
    left: 80px;
	}

	#header .nav-list ul a:hover::before {
		background-image: none !important;
	}

	#header .nav-list ul li a::before {
		content: ' ';
		filter: invert(1);
		background-size: cover;
		width: 25px;
		height: 25px;
	}

	#header .nav-list ul li:nth-child(1) a::before {
		background-image: url(../img/code2.webp);
	}

	#header .nav-list ul li:nth-child(2) a::before {
		background-image: url(../img/computer.webp);
	}

	#header .nav-list ul li:nth-child(3) a::before {
		background-image: url(../img/medal.webp);
	}

	#header .nav-list ul li:nth-child(4) a::before {
		background-image: url(../img/contact.webp);
	}

	#home h1 {
    	font-size: 2.4rem;
	}

	#home h2 {
	    font-size: 1.4rem;
	    margin-top: 12px;
	}

	#services .service-bottom {
		display: initial;
	}

	#services .service-item {
		width: 245px;
		padding: 25px;
		margin: 2.5% 0 10% 0;
	}

	/* End Header Section and Footer Section */


	/* Service Section */

	.service-top p {
		width: 35rem;
	}

	/* End Service Section */


	/* Certificate Section */

	.certificate {
		height: 200px;
	}

	/* End Certificate Section */

	/* Home and Footer*/
	#footer h2, #footer p, .brand h1, #home h1, #home h2, #home .cta, #form, .lb-details,
	#header .nav-list ul a, .social ul li a span
	 {
		font-family: 'Open Sans', sans-serif;
	}
}

@media only screen and (max-width: 386px) {

	/* Header Section and Footer Section */
	.brand h1, #footer h2 {
		font-size: 1.6rem;
		text-align: center;
	}

	/* End Header Section and Footer Section */

	/* Icons */

	.fa-paint-brush, .fa-code, .fa-laptop-house, .fa-envelope, .fa-phone, .fa-file-pdf, .fa-globe-americas, .fa-file-word, .fa-arrow-up {
		font-size: 30px;
	}

	/* End Icons */
}
