/* Projetcs Section */
#projects {
	background-image: linear-gradient(to top, #b1f4cf 0%, #9890e3 50%);
}

.projects {
	flex-direction: column;
	max-width: 1200px;
	margin: 0 auto;
	padding: 100px 0;
}

.all-projects {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.project-item {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 100%;
	margin: 20px auto;
	overflow: hidden;
	border-radius: 10px;
}

.project-info {
	padding: 70px;
	flex-basis: 50px;
	height: 100%;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
	background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
	color: #FFF;
}

.project-info h1 {
	font-size: 4rem;
	font-weight: 500;
}

.project-info h2 {
	font-size: 1.8rem;
	font-weight: 500;
	margin-top: 10px;
}

.project-info p {
	color: #cacaca;
}

.project-info a {
	text-align: center;
	font-size: 3rem;
	color: var(--primary-color);
}

.project-info a:hover {
	color: #f30c0c;
}

.project-info figure:hover + figcaption h2 {
	opacity: 0;
	transition: ease 1s;
}

.carousel-item img {
	flex-basis: 50%;
	height: 100%;
}

.hover-rotate {
  overflow: hidden;
}

.hover-rotate img {
  transition: all 0.3s;
  box-sizing: border-box;
}

.hover-rotate:hover img {
  transform: scale(.9) rotate(2deg);
}

/* End Projects Section */
