/* Service Section */
#services {
  background-image: linear-gradient(to bottom, #a663fc 56%, #515aec 70%);
}

.serviceSvg {
	position: relative;
	top: 50px;
}

.programmer {
  position: relative;
  bottom: 3vw;
  height: 350px;
  opacity: .5;
}

#services .services {
	flex-direction: column;
	text-align: center;
	max-width: 1500px;
	margin: 0 auto;
	padding: 100px 0;
}

#services .section-title {
	font-size: 4rem;
	font-weight: 500;
	color: #000;
	margin-bottom: 10px;
	text-transform: uppercase;
	letter-spacing: .2rem;
	text-align: center;
}

#services .section-title h1 {
  padding: 25px;
}

#services .section-title p {
  margin-bottom: 30px;
}

#services .section-title span {
	color: var(--primary-color);
}

.knowledges {
  user-select: none;
  display: grid;
  grid-template-columns: repeat(18, 1fr);
  grid-template-rows: repeat(8, 6rem);
  row-gap: 1rem;
  padding: 25px;
}

.knowledge:nth-child(1) {
  grid-column: 2 / 6;
  grid-row: 1 / 3;
}

.knowledge:nth-child(2) {
  grid-column: 3 / 7;
  grid-row: 3 / 5;
}

.knowledge:nth-child(3) {
  grid-column: 2 / 6;
  grid-row: 5 / -1;
}

.knowledge:nth-child(4) {
  grid-column: 14 / 18;
  grid-row: 1 / 3;
}

.knowledge:nth-child(5) {
  grid-column: 13 / 17;
  grid-row: 3 / 5;
}

.knowledge:nth-child(6) {
  grid-column: 14 / 18;
  grid-row: 5 / -1;
}

.knowledge:nth-child(7) {
  grid-column: 13 / 17;
  grid-row: 7 / 9;
}

.knowledge:nth-child(8) {
  grid-column: 8 / 12;
  grid-row: 2 / 6;
}


.knowledge:nth-child(9) {
  grid-column: 3 / 7;
  grid-row: 7 / 9;
}

.knowledge:nth-child(10) {
  grid-column: 14 / 18;
  grid-row: 9 / 11;
}

.knowledge:nth-child(11) {
  grid-column: 2 / 6;
  grid-row: 9 / 12
}

.knowledge:nth-child(12) {
  grid-column: 8 / 12;
  grid-row: 6 / 8;
}

.knowledge-header {
  display: flex;
  align-items: center;
}

.knowledge-header p {
  font-size: 1.2rem;
  font-family: Bradley Hand, cursive, 'Open Sans', sans-serif;
	color: #111;
	margin: 10px;
}

.knowledge-icons {
  filter: drop-shadow(4px 8px 12px #470BA9);
  font-size: 50px;
  color: #470ba9;
	transform: rotate(5deg);
}

.knowledge-icons:hover {
  transform: rotate(0deg) scale(1.1);
}

/* End Service Section */
