/* Service Section */
#services {
    background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);background-image: linear-gradient(to bottom, #30cfd0 0%, #330867 100%);
}

.serviceSvg {
	position: relative;
	top: 50px;
}

.programmer {
  width: 250px;
  height: 250px;
}

#services .services {
	flex-direction: column;
	text-align: center;
	max-width: 1500px;
	margin: 0 auto;
	padding: 100px 0;
}

#services .section-title {
	font-size: 4rem;
	font-weight: 500;
	color: #000;
	margin-bottom: 10px;
	text-transform: uppercase;
	letter-spacing: .2rem;
	text-align: center;
}

#services .section-title span {
	color: var(--primary-color);
}

#services .service-item p {
	color: #FFF;
	text-align: left;
}

#services .service-bottom {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	margin-top: 50px;
}

#services .service-item {
	position: relative;
	flex-basis: 80%;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
	padding: 30px;
	border-radius: 10px;
	background-image: url(../img/bg-service.jpeg);
	background-size: contain;
	margin: 10px 5%;
	z-index: 1;
	overflow: hidden;
}

#services .service-item::after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
	opacity: .8;
    z-index: -1;
}

#services .service-bottom .icon {
	height: 50px;
	margin-bottom: 20px;
}

#services .service-bottom .icon img {
	height: 100%;
  filter: grayscale(1);
}

#services .service-bottom .icon img:hover {
  filter: grayscale(0);
  transform: scale(1.1);
}

#services .service-item h2 {
	font-size: 2rem;
	color: #000;
	margin-bottom: 10px;
	text-transform: uppercase;
}

#services .service-item p {
	font-size: 1.4rem;
	font-weight: 500;
	line-height: 1.9rem;
	color: #000;
}

.service-top p {
	width: 50rem;
}

/* End Service Section */
