.swal-modal {
	background-color: rgba(0, 0, 0, 0.45);
}

.swal-title, .swal-text {
	color: #fff
}

.swal-button {
	background-color: #000;
}

.swal-button:hover {
	background-color: #111111;
}

.swal-button:active, .swal-button:not([disabled]):hover {
	background-color: #1e1e1e;
}

.swal-icon--success:after, .swal-icon--success:before, .swal-icon--success__hide-corners {
	background-color: transparent;
}